.card-list{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
    padding: 10px;
    .card-list__item{
        width: 300px;
        height: 270px;
        background-color: azure;
        margin: 5px;
        border: none;
        border-radius: 10px;
    }
}